
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: #EEEEEE;
}

body.dark-mode {
    background-color: #222;
    color: #FFF;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    /* 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #f5f5f5;

    */
}


.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 8%;
}

.navbar-toggle {
    margin-right: 8%;
}


/* .navbar-toggle button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
} */

/* .navbar-toggle button:hover {
    background-color: #777;
} */


canvas {
    border: 1px solid #fff;
    background-color: #fff
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
}

#playButton {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    gap: 10px; /* Optional: Adds space between buttons */
}

#generationCounter {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
