
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #222;
    background-color: #EEE;
}

body.dark-mode {
    background-color: #222;
    color: #FFF;
    
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #fff;
    background-color: #fff
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
}

#playButton {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    gap: 10px; /* Optional: Adds space between buttons */
}

#generationCounter {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
